/*****************google font**************/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');

/***********variable css**********/
:root{
    --header-height:3rem;
    --nav-width:324px;

/************font weight**********/
--font-medium:500;
--font-semi-bold:600;
--font-bold:700;
/********colors********/
--first-color:#0077b6;
--first-color-dark:#023e8a;
--first-color-darken:#03045e;
--text-color:#003049;
--text-color-light:#edf6f9;
--first-color-lighter:#f8edeb;
--color-body: #fafafa;
--first-color-lighter-header:#f8edeb;
--first-color-darki::#023e8a;
--first-color-toggle:#0077b6;
/*************font*****/
--body-font:'Poppins', sans-serif;
--h1-font-size: 1.5rem;
--h2-font-size: 1.25rem;
--h3-font-size: 1rem;
--normal-font-size: .938rem;
--small-font-size: .813rem;
--smaller-font-size: .75rem;
/******margenes**********/
--mb-1: .5rem;
--mb-2: 1rem;
--mb-3: 1.5rem;
--mb-4: 2rem;
--mb-5: 2.5rem;
/*********z-index******/
--z-fixed: 100;
}

@media screen and (min-width: 768px){
    :root{
        --h1-font-size: 2.25rem;
        --h2-font-size: 1.5rem;
        --h3-font-size: 1.25rem;
        --normal-font-size: 1rem;
        --small-font-size: .875rem;
        --smaller-font-size: .813rem;  
    }
}

/***********base**********/
*,::before,::after{
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
body{
    margin: var(--header-height) 0 0 0;
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    font-weight: var(--font-medium);
    background-color:var(--color-body);
    color: var(--text-color) ;
    line-height: 1.6;
}
h1,h2,h3,p{
 margin: 0;   
}
h3{
 font-weight: var(--font-semi-bold);   
}
ul{
    margin: 0;
    padding: 0;
    list-style: none;
}
a{
    text-decoration: none;
    color: var(--text-color);
}

img{
    max-width: 100% ;
    height: auto;
    display: block ;
}
.section{
    padding: 4rem 0 2rem;
}
.section-title{
    font-size: var(--h1-font-size);
    color: var(--first-color);
    margin-bottom: var(--mb-3);
    text-align: center;
}
.section-subtitle{
    display: block;
    font-size: var(--small-font-size);
    color: var(--first-color-darken);
    text-align: center;
    font-weight: var(--font-bold);   
    margin-bottom: .25rem;
}
/**********layout***********/
.bd-grid{
    max-width: 1024px;
    display: grid;
    grid-template-columns: 100%;
    column-gap: 2rem;
    width: calc(100% - 2rem);
    margin-left: var(--mb-2);
    margin-right:var(--mb-2) ;
}
.l-header{
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: var(--z-fixed);
    background-color: var(--first-color-lighter-header);
    box-shadow: 0 2px 4px rgba(0, 0, 0, .1);
}
/***************nav********************/
.nav{
height: var(--header-height);
display: flex;
justify-content: space-between ;
align-items: center;
}
.nav__menu{
    position: fixed;
    top: 0;
    left: -100%;
    width: 90%;
    height: 100vh;
    padding: 3rem;
    display: flex ;
    align-items: center;
    background-color: var(--first-color);
    transition: .5s;
   
    
}
.nav__close{
    position: absolute;
    top: 1rem;
    right: 1rem;
    font-size: 2rem ;
    color: var(--first-color-darki);
    cursor: pointer;
}
.nav__item{
    margin-bottom:var(--mb-4) ;
}
.nav__link{
    font-size: 1rem;
    text-transform: uppercase;
    color: var(--first-color-lighter);
    font-weight: var(--font-bold);
    transition: .3s;
}
.nav__link:hover{
    color: var(--first-color-dark);
}

.nav__toggle{
    color: var(--first-color-darki);
    font-size: 1.3rem;
    cursor: pointer;
}
/****************show menu***********/
.show{
    left: 0;
}
/****************hidden menu***********/
.show{
    left: 0;
}
/************Active menu************/
.active{
    color: var(--text-color);
}

/*************home********/
.home{
    position: relative;
}
/*********wrapeffect*********/
.effect-wrap .effect{
position: absolute;
z-index: -1;
}
.effect-1{
    width: 30px;
    height: 30px;
    border: 4px solid #8a49ff;
    right: 10%;
    bottom: 15%;
    animation: spin 10s linear infinite;
}
.effect-2{
    left: 3%;
    bottom: 20%;
    width: 40px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    animation: topBounce 3s ease-in-out infinite;
}
.effect-2 div{
    height: 3px;
    width: 3px;
    background-color: #ff9c07;
    margin: 0 3px 8px;
}
.effect-3{
    height: 180px;
    width: 180px;
    border: 25px solid #f8edeb;
    border-radius: 50%;
    position: absolute;
    left: 50px;
    top: -120px;
    animation: rightBounce 3s ease-in-out infinite;
  
}
.effect-4{
    border-top: 30px solid transparent;
    border-left: 30px solid #06d79c;
    left: 30%;
    top:20%;
    animation: spin 15s linear infinite;
}
.effect-4::before{
    content: '';
    border-top: 30px solid transparent;
    border-left: 30px solid #06d79c;
    position: absolute;
    left: -35px;
    top: -25px;
    opacity: 0.5;
}
.effect-5{
    height: 50px;
    width: 50px;
    right: 10%;
    top: 30%;
    display: flex;
    justify-content: space-between;
    border-radius: 50%;
    overflow: hidden;
    animation: spin 10s linear infinite;
}
.effect-5 div{
    width: 4px;
    background-color: #4dd0e1;
    margin: 1px;
}
@keyframes spin{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}
@keyframes topBounce{
    0%,100%{
        transform: translateY(0);
    }
    50%{
        transform: translateY(25px);
    }
}
@keyframes rightBounce{
    0%,100%{
        transform: translateX(0);
    }
    50%{
        transform: translateX(20px);
    }
}
/********end effect*********/
.home__container{
    height: clac(100vh - var(--header-height));
    align-items: center;
}
.home__data{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: max-content;
    text-align: center;
}
.home__img{
    padding-top: 1.3rem;
    padding-left: -1.5rem;
    padding-right: 1.5rem;
    width: 160px;
    height: 160px;
    background-color: var(--first-color);
    border-radius: 50%;
    overflow: hidden;
    margin-bottom: var(--mb-2);
    margin-top: 8rem;
    cursor: pointer;
    box-shadow: 0 0 14px rgb(0,119,182);
}
.home__img img{
  width: 155px;
}
.destroy{
    width: 155px;
    height: 155px;
}

.home__title{
    font-size: var(--h1-font-size);
    color: var(--first-color);
    font-weight: var(--font-semi-bold);
}
.home__profession{
    font-size: var(--small-font-size);
    color: var(--first-color-dark);
    margin-bottom: var(--mb-5);
}
.home__social{
    margin-bottom: 5rem;
}
.home__social-link{
 display: inline-flex;  
 background-color: var(--first-color); 
 color: var(--first-color-lighter);
 font-size: 1.1rem;
 border-radius: 50%;
 padding: .40rem;
 margin: 0 var(--mb-1);
 transition: .3s;
 box-shadow: 0 0 14px rgb(0,119,182);
}
.home__social-link:hover{
    background-color: var(--first-color-dark);
}

.home__button{
    width: 100%;
    box-shadow: 0 0 14px rgb(0,119,182);
}

.button{
    display: inline-block;
    background-color: var(--first-color);
    color: var(--first-color-lighter);
    padding: 1rem 2rem;
    font-weight: var(--font-semi-bold);
    border-radius: .5rem;
    transition: .3s;
}

.button:hover{
    background-color: var(--first-color-dark);
}

.button__light{
    background-color: var(--first-color-lighter);
    color: var(--first-color);
}
.button__light:hover{
    color: var(--first-color-lighter);
}

/***************about***************/
.about__container{
    row-gap: 2rem;
}
.about__data{
    text-align: center;
} 
.about__description{
    margin-bottom: var(--mb-4);
}
.about__img{
    width: 150px;
    border-radius: .5rem;
    margin: 0 auto;
    box-shadow: 0 0 14px rgb(0,119,182);
}

.about__information{
    margin-bottom: var(--mb-4);
}
.about__information-title{
    font-size: var(--h3-font-size);
    color: var(--first-color-dark);
    margin-bottom: var(--mb-2);
}
.about__information-data{
    display: flex;
    align-items: center;
    padding-left: 1.5rem;
    margin-bottom: var(--mb-3);
}
.about__information-icon{
    font-size: 1.5rem;
    color: var(--first-color);
    margin-right: var(--mb-4);
}
.about__information-subtitle{
    display: block;
    font-weight: var(--font-semi-bold);
}
.about__information-subtitle-small{
    font-size: var(--small-font-size);
}
/******************skills************/
.skills__container{
row-gap: 2rem;
}

.skills__subtitle{
    font-size: var(--h3-font-size);
    color: var(--first-color-dark);
    margin-bottom: var(--mb-2);
}
.skills__data{
    position: relative;
    display: flex;
    justify-content: space-between ;
    margin: 0 var(--mb-4);
    margin-bottom: var(--mb-4);
}
.skills_name{
    text-transform: uppercase;
}
.skills_bar{
    position: absolute;
    bottom: -.75rem;
    height: .25rem;
    background-color: var(--first-color);
}
.skills__html{
    width: 90%;
}
.skills__js{
    width: 80%;
}
.skills__react{
    width: 70%;
}
.skills__vue{
    width: 50%;
}
.skills__php{
    width: 80%;
}
.skills__node{
    width: 60%;
}
.skills__express{
    width: 60%;
}
.skills__mongodb{
    width: 90%;
}
.skills__firebase{
    width: 90%;
}
.skills__gns{
    width: 90%;
}
.skills__lan{
    width: 80%;
}
.skills__windev{
    width: 60%;
}
.skills__git{
    width: 90%;
}
.skills__docker{
    width: 60%;
}

/***************education************/
.education__container{
    row-gap: 2rem;
    margin-bottom: var(--mb-4);
}
.education__content{
    display: grid;
    grid-template-columns: 1fr max-content 1fr;
}
.education__year , .education__race{
    font-size: var(--h3-font-size);
    margin-bottom: .25rem;
}
.education__university, .education__specialty{
display: block;
font-size: var(--smaller-font-size);
}
.education__year, .education__university{
    text-align: right;
}
.education__time{
    padding: 0 1rem;
    justify-self: center;
}
.education__rounder{
 position: relative;
 display: inline-block;
 width: 12px;
 height: 12px;   
 background-color: var(--first-color);
 border-radius: 50%;
}
.education__rounder::before{
    content: '';
    position: absolute;
    transform: translate(-4px, -4px);
    width: 20px;
    height: 20px;
    border: 1px solid var(--first-color);
    border-radius: 50%;
}
.education__line{
    display: block;
    height: 90%;
    width: 2px;
    background-color: var(--first-color);
    transform: translate(5px, -4px);
}
/**************services**************/
 .services__container{
     row-gap: 2rem;
 }
 .services__content{
     padding: 1.5rem .5rem;
     border: 2px solid var(--first-color);
     border-radius: .5rem;
     text-align: center;
     cursor: pointer;
     box-shadow: 0 0 14px rgb(0,119,182);
 }
 .services__icon{
     font-size: 2rem;
     padding: .5rem;
     background-color: var(--first-color);
     color: var(--first-color-lighter);
     border-radius: 50%;
     margin-bottom: var(--mb-2);
 }

 .services__title{
     font-size: 1.25rem;
     color: var(--first-color-dark);
     margin-bottom: var(--mb-1);
 }
 .services__content, .services__icon, .services__description, .services__title{
   transition: .5s;
 } 
 .services__content:hover{
  background-color: var(--first-color);   
 }
 .services__content:hover .services__icon{
     background-color: var(--first-color-lighter);
     color: var(--first-color);
 }
 .services__content:hover .services__title{
     color: var(--first-color-lighter);
 }
 .services__content:hover .services__description{
    color: var(--first-color-lighter);
}
/************project in mind***************/
.project{
    background-color: var(--first-color);
    padding-bottom: 0;
}
.project__container{
 row-gap: 2rem;   
}
.project__data{
    text-align: center;
}
.project__title, .project__description{
    color: var(--first-color-lighter);
}   
.project__description{
    margin-bottom: var(--mb-4);
}
.project__img{
    width: 220px;
    justify-self: center;
}
/*****************works*****************/
.works__container{
    justify-items: center;
    row-gap: 2rem;
}


/******work filter****/
.work__filter{
    padding: 10px 15px;
    text-align: center;
    flex: 0 0 100%;
    max-width: 100%;
    margin-bottom: var(--mb-4);
}

.filter__item{
    border: 1px solid var(--first-color);
    outline: none;
    display: inline-block;
    padding: 5px 15px;
    margin: 0 5px 10px;
    border-radius: 30px;
    cursor: pointer;
    transition: .5s all ease-in-out;
    box-shadow: 0 0 14px rgb(0,119,182);

}
.filter__item:hover{
background-color: var(--first-color);
color: white;
}
.active-filter{
    background-color: var(--first-color);
    color: white;  
}
/*******end filter***/
.works__img{
 position: relative;   
 overflow: hidden;
 border-radius: .5rem;
 box-shadow: 0 0 14px rgb(0,119,182);
 cursor: pointer;
}
.works__data{
    position: absolute;
    width: 100%;
    bottom: -100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: rgb(0,119,182);
    border-radius: .5rem;
    transition: .3s;
}
.works__liki{
    display: inline-flex;
    font-size: 1.5rem;
    background-color: var(--first-color-lighter);
    color: var(--first-color);
    padding: .25rem;
    margin-bottom: var(--mb-2);
    margin-left: 5px;
    margin-right: 5px;
    border-radius: 50%; 
}
.works__liki:hover{
    background-color: lightcoral;
    transition: .5s all ease-in-out ;
}
.works__liki:active{
    background-color: darkblue;
}
.works__lik{
    display: inline-flex;
    font-size: 1.5rem;
    background-color: var(--first-color-lighter);
    color: var(--first-color);
    padding: .25rem;
    margin-bottom: var(--mb-2);
    margin-left: 5px;
    margin-right: 5px;
    border-radius: 50%;
}
.works__lik:hover{
    background-color: lightcoral;
    transition: .5s all ease-in-out ;
}
.works__lik:active{
    background-color: darkblue;
}
.works__title{
font-size: var(--h2-font-size);
color: var(--first-color-lighter);
}
.works__img:hover .works__data{
bottom: 0;
}

.modal{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .5);
    z-index: 100000;
    transform: scale(0);
   
}
.modal-content{
    background-color: white;
    margin-top: 100px;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    padding: 8px 24px;
    border-radius: 10px;
    z-index: 10000000;
    transition: 200ms ease-in-out;
    border: 1px solid var(--first-color);
    box-shadow: 0 0 14px rgb(0,119,182);
}

.active-over{
    transform:  scale(1);
} 

.model__header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 15px;
    border-bottom: 1px solid black;
}
.modale__title{
font-size: var(--h2-font-size);
font-weight: var(--font-medium);
color: var(--first-color);
}
.close__button{
font-size: 30px;
cursor: pointer;
color: var(--first-color);
transition: all .3s ease-in-out;
}
.close__button:hover{
    color: var(--first-color-dark);
}
.modal__body{
padding: 10px 15px;
color: var(--first-color);
}

.modal__detail{
    font-size: 14px;
    color: var(--first-color-darken);
}
.modal__body{
    display: flex;
    justify-content: space-between;
}
.modal__line{
    border-left: 1px solid var(--first-color-dark);
    padding: 0 10px;
}
.modal__detail__link > a{
    color: var(--first-color-dark);
    transition: all .3s ease-in-out;
}
.modal__detail__link > a:hover{
    color: blue;
}


/***************contact************/
.contact__container{
    row-gap: 3rem;
}
.contact__input{
    width: 100%;
    padding: 1rem;
    outline: none;
    border: none;
    background-color: var(--text-color-light);
    font-size: var(--normal-font-size);
    margin-bottom: var(--mb-2);
    border-radius: .5rem;
}
.contact ::placeholder{
    color: var(--first-color-dark);
    font-family: var(--body-font);
    font-weight: var(--font-medium);
}
.contact__button{
    outline: none;
    border: none;
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    cursor: pointer;
    box-shadow: 0 0 14px rgb(0,119,182);
}
.contact__info{
    margin-bottom: var(--mb-3);
}
.contact__subtitle{
    font-size: var(--h3-font-size);
    color: var(--first-color-dark);
    margin-bottom: var(--mb-1);
}
.contact__text{
    display: block;
    padding-left: 1rem;
}

/************footer************/
.footer{
    background-color: var(--first-color-darken);
    color: var(--first-color-lighter);
    text-align: center;
}
.footer__title{
    font-size: var(--h1-font-size);
    margin-bottom: var(--mb-2);
}
.footer__description{
    margin-bottom: var(--mb-2);
}
.footer__social{
    margin-bottom: 3rem;
}
.footer__link{
    display: inline-flex;
    background-color: var(--first-color);
    color: var(--first-color-lighter);
    font-size: 1.1rem;
    border-radius: 50%;
    padding: .40rem;
    margin: 0 var(--mb-1);
    transition: .3s;
}
.footer__link:hover{
    background-color: var(--first-color-lighter);
    color: var(--first-color);
}
.footer__copy{
    font-size: var(--smaller-font-size);
    color: #ffb4a2;
}

 /****************dark mode color******/
 .dark-mode{
    --first-color:#251e1f;
    --first-color-dark:#071419;
    --first-color-darken:#251e1f;
    --text-color:white;
    --text-color-light:#edf6f9;
    --first-color-lighter:#f8edeb;
    --color-body: #535353;
    --first-color-lighter-header:#251e1f;
    --first-color-darki::white;
    --first-color-toggle:#edf6f9;
  }

  .wrapper-color-swith{
      position: fixed;
      right: 0;
      top: 50px;
      display: flex;
      justify-content: flex-end;
      align-items: center;
      padding-right: 1.5rem;
      padding-top: 1.5rem;
      z-index: 10;
  }
  .color-swith{
      width: 4em;
      height: 2em;
      border-radius: 20em;
      background: var(--first-color-lighter-header);
      border: 2px solid var(--first-color-darken);
      position: absolute;
      cursor: pointer;
  }
  .color-swith-toggle{
      width: 1.6em;
      height: 1.6em;
      background: var(--first-color-toggle);
      position: absolute;
      border-radius: 18em;
      top: 0.08em;
      left: 0.2em;
      cursor: pointer;
      transition: all 250ms ease-in-out;
  }
  .color-swith::before{
      content: "light Mode On";
      position: absolute;
      display: inline-block;
      width: 12em;
      left: -8em;
  }
  #input-color-swith:checked ~ label .color-swith-toggle{
    transform: translateX(1.7em);
  }
  #input-color-swith:checked ~  .color-swith::before{
    content: "Dark Mode On";
  }
  #input-color-swith{
      display: none;
  }
/*****************and darkmode**************/


/*************media queries******************/
@media screen and (min-width:768px){
    .home__button{
        width: initial;
    }
    .nav__menu{
        width: var(--nav-width);
    }
    .about__container,
    .skills__container,
    .services__container,
    .works__container,
    .contact__container,
    .contact__inputs{
        grid-template-columns: repeat(2,1fr);
    }
    .about__data{
        text-align: initial;
    }

    .about__description{
        margin-bottom: var(--mb-5);
    }
    .about__img{
        width: 220px;
    }
    .about__information{
        padding-left: 4rem;
    }
    .education__time{
        padding: 0 2rem;
    }

    .project{
        background: none;
    }
    .project__container{
     background-color: var(--first-color);
     grid-template-columns: 2fr 1.2fr;   
     padding: 0 2rem;
     border-radius: .5rem;
    }
    .project__data{
        padding: 3rem 0;
    }
    .project__title, .project__data{
        text-align: initial;
    }
    .project__img{
        width: 230px;
        align-self: flex-end;
    }
    .contact__inputs{
        display: grid;
        column-gap: 1.5rem;
    }
    .contact__info{
        padding-left: 3rem;
    }
    .footer{
        background: none;
    }
    .footer__container{
        background-color: var(--first-color-darken);
        padding: 3rem 0;
        border-radius: .5rem;
    }

}

@media screen and (min-width:1024px){
    .modal-content{
        max-width: 50%;
    }
    .wrapper-color-swith{
    position: fixed;
    right: 0;
    top: 0;  
}
body{
    margin: 0;
    padding-left: var(--nav-width);
}
.l-header{
    width: 0;
}
.nav__toggle, .nav__logo, .nav__close{
    display: none;
}
.nav__menu{
    left: 0;
   
}
.home__container{
    height: 100vh;
}
.section{
    padding: 3rem 0 2rem;
}
.bd-grid{
    margin-left: auto;
    margin-right: auto;
}
.services__container, .works__container{
    grid-template-columns: repeat(3,1fr);
}

}

/*****************loading animation***************/

.loading{
    position: absolute;
    left: 50%;
    top: 50%;
    margin: -35px 0 0 -56px;
    width: 112px;
    height: 70px;
  }
  .loading:before,
  .loading:after{
    display: table;
    content: "";
  }
  .loading:after{
    clear: both;
  }
  .loading .finger{
    float: left;
    margin: 0 2px 0 0;
    width: 20px;
    height: 100%;
  }
  .loading .finger-1{
    animation: finger-1-animation 2s infinite ease-out;
  }
  .loading .finger-2{
    animation: finger-2-animation 2s infinite ease-out;
  }
  .loading .finger-3{
    animation: finger-3-animation 2s infinite ease-out;
  }
  .loading .finger-4{
    animation: finger-4-animation 2s infinite ease-out;
  }
  .loading .finger-item{
    position: relative;
    width: 100%;
    height: 100%;
    border-radius: 6px 6px 8px 8px;
    background-clip: padding-box;
    background: #fff;
  }
  .loading .finger-item span{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    padding: 5px 5px 0 5px;
  }
  .loading .finger-item span:before,
  .loading .finger-item span:after{
    content: "";
    position: relative;
    display: block;
    margin: 0 0 2px 0;
    width: 100%;
    height: 2px;
    background: #4492f4;
  }
  .loading .finger-item i{
    position: absolute;
    left: 3px;
    bottom: 3px;
    width: 14px;
    height: 14px;
    border-radius: 10px 10px 7px 7px;
    background-clip: padding-box;
    background: #4492f4;
  }
  .loading .last-finger{
    position: relative;
    float: left;
    width: 24px;
    height: 100%;
    overflow: hidden;
  }
  .loading .last-finger-item{
    position: absolute;
    right: 0;
    top: 32px;
    width: 110px;
    height: 20px;
    border-radius: 0 5px 14px 0;
    background: #fff;
    background-clip: padding-box;
    animation: finger-5-animation 2s infinite linear;
  }
  .loading .last-finger-item i{
    position: absolute;
    left: 0;
    top: -8px;
    width: 22px;
    height: 8px;
    background: #fff;
    overflow: hidden;
  }
  .loading .last-finger-item i:after{
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 34px;
    height: 20px;
    border-radius: 0 0 15px 15px;
    background-clip: padding-box;
    background-clip: #4492f4;
  }
  @keyframes finger-1-animation{
    0%{
      padding: 12px 0 5px 0;
    }
    20%{
      padding: 12px 0 5px 0;
    }
    29%{
      padding: 4px 0 24px 0;
    }
    35%{
      padding: 4px 0 24px 0;
    }
    41%{
      padding: 12px 0 5px 0;
    }
    100%{
      padding: 12px 0 5px 0;
    }
  }
  @keyframes finger-2-animation{
    0%{
      padding: 6px 0 2px 0;
    }
    24%{
      padding: 6px 0 2px 0;
    }
    33%{
      padding: 2px 0 16px 0;
    }
    39%{
      padding: 2px 0 16px 0;
    }
    45%{
      padding: 6px 0 2px 0;
    }
    100%{
      padding: 6px 0 2px 0;
    }
  }
  @keyframes finger-3-animation{
    0%{
      padding: 0 0 0 0;
    }
    20%{
      padding: 0 0 0 0;
    }
    37%{
      padding: 0 0 12px 0;
    }
    43%{
      padding: 0 0 12px 0;
    }
    49%{
      padding: 0 0 0 0;
    }
    100%{
      padding: 0 0 0 0;
    }
  }
  @keyframes finger-4-animation{
    0%{
      padding: 8px 0 3px 0;
    }
    32%{
      padding: 8px 0 3px 0;
    }
    41%{
      padding: 4px 0 20px 0;
    }
    47%{
      padding: 4px 0 20px 0;
    }
    53%{
      padding: 8px 0 3px 0;
    }
    100%{
      padding: 8px 0 3px 0;
    }
  }
  @keyframes finger-5-animation{
    0%{
      top: 32px;
      right: 0;
      border-radius: 0 5px 14px 0;
      background-clip: padding-box;
      transform: rotate(0deg);
    }
    34%{
      top: 32px;
      right: 0;
      border-radius: 0 5px 14px 0;
      background-clip: padding-box;
      transform: rotate(0deg);
    }
    43%{
      top: 20px;
      right: 2px;
      border-radius: 0 8px 20px 0;
      background-clip: padding-box;
      transform: rotate(-12deg);
    }
    50%{
      top: 20px;
      right: 2px;
      border-radius: 0 8px 20px 0;
      background-clip: padding-box;
      transform: rotate(-12deg);
    }
    60%{
      top: 32px;
      right: 0;
      border-radius: 0 5px 14px 0;
      background-clip: padding-box;
      transform: rotate(0deg);
    }
    100%{
      top: 32px;
      right: 0;
      border-radius: 0 5px 14px 0;
      background-clip: padding-box;
      transform: rotate(0deg);
    }
  }
  .loading-wrapper{
   width: 100%;
   height: 100%;
   position: fixed;
      top: 0;
      left: 0;
     z-index: 100000;
      background-color: var(--first-color-darken);
  }

 